/* import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Variables */
:root {
  /* Primary */
  --white: white;
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  /* Accent */
  --blue: hsl(248, 32%, 49%);
  /* Neutral */
  --dark-blue: hsl(249, 10%, 26%);
  --grayish-blue: hsl(246, 25%, 77%);
  /* Font Size */
  --font-size-regular: 16px;
  --font-size-small: 14px;
  /* Font Family */
  --font-family: 'Poppins', sans-serif;
  /* Front Weights */
  --normal: 400;
  --slightly-bold: 500;
  --slightly-bolder: 600;
  --bold: 700;
}

/* Global Styles */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--red);
  background-image: url("/images/bg-intro-mobile.png");
  font-family: var(--font-family);
  font-size: var(--font-size-regular)
}
main {
  margin: 0 auto;
  max-width: 30rem;
  min-height: 100vh;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Main Text Section */
.main-text{
  color: var(--white);
  padding-bottom: 3rem;
  text-align: center;
}
.main-text h1 {
  font-size: 26px;
  line-height: 1.4;
  padding-bottom: 1rem;
}
.main-text p {
  font-size: 0.85rem;
  line-height: 1.8;
}

/* Buttons Global Style */
.free-trial-button,
.form-container {
  box-shadow: 0px 8px 2px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: .5rem;
}

/* Free Trial Button */
.free-trial-button{
  background-color: var(--blue);
  color: var(--white);
  font-family: var(--font-family);
  font-size: var(--font-size-small);
  font-weight: 100;
  margin-bottom: 1.5rem;
  line-height: 1.5;
  overflow-wrap: break-word;
  padding: 1rem 4rem;
  width: 100%;
}
.free-trial-button:hover {
  filter: brightness(110%);
  cursor: pointer;
}

/* Call To Action Section */

/* Form */
.form-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}
.form-container label {
  position: relative;
}
.form-container .text-box {
  height: 3rem;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 5px;
  color: grey;
  font-family: var(--font-family);
  font-weight: var(--slightly-bolder);
  font-size: var(--font-size-small);
  padding: 1rem 0;
  text-indent: 25px;
}
input:focus {
  outline-color: var(--blue);
  caret-color: var(--blue);
  color: black;
}
#last-name,
#email,
#password,
#submit-button {
  margin-top: 1rem;
}
.form-container .icon-error {
  display: none;
  position: absolute;
}
.form-container .error-message {
  color: var(--red);
  display: none;
  font-size: 10px;
  font-style: italic;
  padding-top: .3rem;
  text-align: right;
}
#submit-button {
  background-color: var(--green);
  border: none;
  border-radius: 5px;
  box-shadow: 0px 4px 2px rgba(11, 153, 70, 0.76);
  color: var(--white);
  cursor: pointer;
  font-size: var(--font-size-small);
  font-weight: var(--slightly-bold);
  letter-spacing: 1px;
  padding: 1rem 2.5rem;
  width: 100%;
}
#submit-button:hover {
  filter: brightness(107%);
}
.terms-and-services {
  color: var(--grayish-blue);
  font-size: x-small;
  margin-top: 1rem;
  padding: 0 .5rem;
  text-align: center;
}
.bold-red {
  color: var(--red);
  font-weight: var(--bold);
}

/* Desktop Styles */
@media (min-width: 1440px) {
  main {
    flex-direction: row;
    column-gap: 3rem;
  }
  .main-text,
  .call-to-action {
    min-width: 30rem;
  }
  .main-text {
    text-align: left;
  }
  .main-text h1 {
    font-size: 38px;
    font-weight: var(--bold);
    line-height: 1.2;
  }
  .form-container {
    padding: 2rem;
  }
}